<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<app-header></app-header>
<app-jumbotron></app-jumbotron>

<section class="container">
  <div class="row">
    <app-product-category
      categoryName="kitchen"
      imageUrl="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg">
    </app-product-category>
    
    <app-product-category
      categoryName="woodwork"
      imageUrl="https://content.codecademy.com/projects/make-a-website/lesson-4/woodwork.jpg">
    </app-product-category>
    
    <app-product-category
      categoryName="gifts"
      imageUrl="https://content.codecademy.com/projects/make-a-website/lesson-4/gifts.jpg">
    </app-product-category>
    
    <app-product-category
      categoryName="antiques"
      imageUrl="https://content.codecademy.com/projects/make-a-website/lesson-4/antique.jpg">
    </app-product-category>
  </div>

  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
</section>

<app-footer></app-footer>